// @keyframes changeColor {
//   0%{
//     filter: hue-rotate(0deg);
//   }
//   100%{
//     filter: hue-rotate(360deg);
//   }
// }

@keyframes animationList {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(calc(150px - 35px));
  }
}

@keyframes animationlens {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(calc(-150px + 35px));
  }
}

@keyframes light {
  0%, 25%, 50%, 75%{
    transform: scale(0);
  }
  80%{
    transform: scale(0.5);
  }
  85%{
    transform: scale(0.2);
  }
  90%{
    transform: scale(0.3);
  }
  95%{
    transform: scale(0.2);
  }
  100%{
    transform: scale(0);
  }
}

@keyframes circle {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes page {
  0%{
    transform: translateY(15px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes itemJob {
  0%{
    transform: rotateX(180deg);
    opacity: 0;
  }
  20%{
    transform: rotateX(0deg);
    opacity: 1;
  }
  50%{
    transform: rotateX(0deg);
  }
  70%{
    transform: rotateX(-40deg);
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%{
    transform: rotateX(180deg);
    opacity: 0;
  }
}
