.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  .circle-inner {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: black;
    transition: 0.1s;
    pointer-events: none;
    background-color: white;
    z-index: 1;
  }
  .circle-outer {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
    transform: translate(-7.5px, -7.5px);
    transition: 0.2s;
    pointer-events: none;
    z-index: 1;
    box-shadow: 0 0 10px white, 0 0 15px white ;
  }
  .app-header {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-nav);
    padding-top: 10px;
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      @include responsive(555px) {
        width: 100%;
      }
      .heading{
        position: relative;
        &::after{
          position: absolute;
          top:0;
          left: 0;
          content: "";
          width: 50px;
          height: 50px;
          border-radius: 25px;
          background-color: pink;
          animation: changeColor 2s ease-in-out alternate infinite;
          transform: scale(0.2);
          box-shadow: 0 0 10px pink,  0 0 50px pink,
          0 0 60px pink
        }
        &::before{
          position: absolute;
          top:-8px;
          left: -8px;
          content: "";
          width: 60px;
          height: 60px;
          border-radius: 30px;
          background-color: transparent;
          border: 3px solid pink;
          animation: changeColor 2s ease-in-out alternate infinite;
          transform: scale(0.2);
          box-shadow: 0 0 10px pink,  0 0 50px pink,
          0 0 60px pink
        }
      }
      .app-nav {
        display: flex;
        align-items: center;
        height: 40px;
        position: relative;
        @include responsive(888px) {
          display: none;
        }
        &-list {
          list-style: none;
          &-item {
            display: inline-block;
            padding: 0 30px;
            text-align: center;
            .app-nav__link {
              text-decoration: none;
              color: white;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }

  .content {
    margin-top: var(--height-nav);
    width: 90%;
    font-size: 1.4rem;
    display: flex;
    height: calc(100vh - var(--height-nav) - 50px);
    @include responsive(555px) {
      width: 100%;
    }
    .author-container {
      flex: 1;
      height: 100%;
      animation: changeColor 2s ease-in-out alternate infinite;
      @include responsive(600px) {
        display: none;
      }
      .author-img-box{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        img{
          width: 90%;
          height: 90%;
        }
      }
    }
    .main-content {
      flex: 1;
      justify-content: center;
      height: 100%;
    }
    .home {
      display: flex;
      flex-direction: column;
      @include responsive(600px) {
        align-items: center;
      }
      &__heading {
        font-size: 3.5rem;
        height: 100px;
        display: inline-block;
        display: inline-flex;
        align-items: center;
        margin-bottom: 5%;
        position: relative;
        @include responsive(888px) {
          font-size: 2.5rem;
        }
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 30%;
          height: 5px;
          border-radius: 2.5px;
          background-color: white;
        }
      }
      .creative-section {
        display: flex;
        align-items: center;
        &__heading {
          font-size: 2.2rem;
        }
        .list-container {
          margin-left: 15px;
          display: inline-block;
          position: relative;
          font-size: 2rem;
          width: 150px;
          display: flex;
          align-items: center;
          .list-lens{
            position: absolute;
            left: 0;
            height: 100%;
            width: 35px;
            border-radius: 50%;
            overflow: hidden;
            background-color: white;
            animation: animationList 2s ease-in-out alternate infinite;
            .lens-text{
              color: black;
              animation: animationlens  2s ease-in-out alternate infinite;
            }
          }
        }
      }
      &-btn {
        margin-top: 50px;
      }
    }
    .about-page {
      display: flex;
      flex-direction: column;
      .introduce {
        &__heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.5rem;
          @include responsive(888px) {
          }
          &::after {
            content: "";
            width: 80%;
            height: 2px;
            background-color: white;
            @include responsive(888px) {
              width: 65%;
            }
          }
        }
        &__content {
          padding-top: 2em;
        }
      }
    }
  }

  .footer-app {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    z-index: 1;
    .footer__container {
      margin: 0 auto;
      width: 90%;
      display: flex;
      justify-content: space-between;
      @include responsive(555px) {
        width: 100%;
      }
      .footer-copywrite {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
      }
      .footer__nav {
        &__list {
          display: flex;
          align-items: center;
          &-item {
            display: inline-block;
            .nav-footer__link {
              display: flex;
              align-items: center;
              padding: 0em 0.5em;
              &-img {
                width: 20px;
              }
            }
          }
        }
      }
    }
  }
  .responsive-nav.active {
    transform: translateX(0%);
  }
  .responsive-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: lightblue;
    transform: translateX(100%);
    display: none;
    transition: 0.15s;
    @include responsive(888px) {
      display: flex;
    }
    .toggle-menu {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 30px;
      left: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        cursor: pointer;
      }
      &::after {
        content: "";
        width: 10px;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom: 0px;
        left: 0;
        transform: translateY(0);
      }
      &::before {
        content: "";
        width: 10px;
        height: 2px;
        background-color: black;
        position: absolute;
        top: 0px;
        left: 0;
        transform: translateY(0);
        box-shadow: 0px 4px 0 black;
      }
    }
    .image {
      width: 100%;
      height: 250px;
      margin-left: 20px;
      background-color: pink;
      animation: changeColor 2s ease-in-out alternate infinite;
      .author-img{
        width: 100%;
        height: 100%;
      }
    }
    .app-sidenav {
      &-list {
        &-item {
          display: block;
          text-align: right;
          margin-right: 10px;
          margin-top: 1em;
          .app-sidenav__link {
            text-decoration: none;
            color: white;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
