.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  .app-header {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    @include responsive(888px) {
      padding-top: 15px
    }
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      .heading {
        font-size: 2rem;
        font-style: bold;
      }
      .app-header-nav{
        display: flex;
        align-items: center;
        .toggle-menu.active{
          &::after{
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            box-shadow: none;
          }
          &::before{
            bottom: 50%;
            transform: translateY(50%) rotate(-45deg);
          }
        }
        .toggle-menu {
          height: 24px;
          width: 30px;
          position: relative;
          display: none;
          @include responsive(888px) {
            display: block;
          }
          &::after{
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: #333;
            box-shadow: 0 11px 0 #333;
          }
          &::before{
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            background-color: #333;
          }
        }
        .app-nav {
          display: flex;
          height: 60px;
          align-items: center;
          position: relative;
          @include responsive(888px) {
            display: none;
          }
          &-list {
            list-style: none;
            &-item.active::before {
              width: 100%;
            }
            &-item.active .app-nav__link {
              color: white;
            }
            &-item {
              display: inline-flex;
              padding: 0 3em;
              height: 38px;
              align-items: center;
              position: relative;
              &:hover::before {
                width: 100%;
              }
              &:hover > .app-nav__link {
                color: #fff;
              }
              &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                z-index: -1;
                transition: 0.15s;
                background-color: #333;
                //   background-color: pink;
                //   animation: changeColor 2s infinite linear;
              }
              &:nth-child(2)::before {
                animation-delay: 0.5s;
              }
              &:nth-child(3)::before {
                animation-delay: 1s;
              }
              .app-nav__link {
                text-decoration: none;
                color: #333;
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }

  .content {
    margin-top: var(--height-nav);
    width: 90%;
    font-size: 1.4rem;
    display: flex;
    height: calc(100vh - var(--height-nav) - 50px);
    .author-container {
      flex-basis: 40%;
      height: 100%;
      background: url("../assets/author.jpg");
      background-position: center;
      background-size: cover;
      // animation: changeColor 2s ease-in-out alternate infinite;
      @include responsive(888px) {
        display: none;
      }
    }
    .main-content {
      flex-basis: 60%;
      overflow-y: scroll;
      padding-left: 30px;
      @include responsive(888px) {
        flex-basis: 100%;
        padding-left: 0px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include responsive(888px) {
        text-align: left;
      }
      &__heading {
        font-size: 5.5rem;
        height: 100px;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        margin-bottom: 5%;
        position: relative;
        @include responsive(888px) {
          font-size: 6rem;
        }
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 20%;
          height: 5px;
          border-radius: 2.5px;
          background-color: #333;
        }
      }
      .creative-section {
        display: flex;
        align-items: center;
        color: #7d7789;
        transform: perspective(300px);
        &__heading {
          font-size: 2rem;
          @include responsive(888px) {
            font-size: 1.5rem;
          }
        }
        .list-container {
          margin-left: 15px;
          display: inline-block;
          position: relative;
          background-color: lightblue;
          display: flex;
          align-items: center;
          list-style: none;
          &-item {
            position: absolute;
            transform: rotateX(180deg);
            opacity: 0;
            color: #333;
            transform-origin: 0 100%;
            font-weight: 600;
            font-size: 2.3rem;
          }
          &-item.visible {
            animation: itemJob 3s ease-in-out;
          }
        }
      }
      &-btn {
        margin-top: 50px;
      }
    }
    .boom-page {
      .board-boom {
        display: flex;
        flex-direction: column;
        .row {
          display: flex;
          .col {
            text-align: center;
            flex: 1;
            margin-right: 20px;
          }
        }
      }
    }
    .page {
      display: flex;
      flex-direction: column;
      animation: page 0.5s ease-in-out forwards;
      padding-top: 95px;
      .introduce {
        &__heading {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 7px;
          @include responsive(888px) {
          }
          &::after {
            content: "";
            width: 70%;
            height: 2px;
            background-color: #333;
            @include responsive(888px) {
              width: 65%;
            }
          }
        }
        &__content {
          padding-top: 2em;
          font-size: 1.5rem;
          color: #7d7789;
          display: flex;
          justify-content: space-between;
        }
        .news-content{
          flex-direction: column;
        }
        .contacts{
          flex-wrap: wrap;
          .info-block {
            display: flex;
            flex: 1;
            margin-right: 20px;
            flex-direction: column;
            margin-bottom: 20px;
            align-items: center;
            text-align: center;
            justify-content: center;
            border: 1px solid #7d7789;
            padding: 20px 10px;
            @include responsive(600px) {
              flex-basis: 100%;
              margin-right: 0;
            }
            &:nth-child(3) {
              margin-right: 0px;
            }
            // &:nth-child(even){
            //   .block-img{margin-left: 0;}
            // }
            .block-img {
              width: 15px;
              margin-bottom: 3px;
            }
          }
        }
      }

      .form-contact {
        padding-top: 30px;
        display: flex;
        width: 50%;
        flex-direction: column;
        .form-label {
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          font-size: 1.6rem;
          .form-input {
            font-size: 1.6rem;
            margin-top: 10px;
            &:focus{
              outline: none;
            }
          }
        }

        .send-btn {
          max-width: 205px;
        }
        .text-area {
          height: 100px;
          .form-input {
            height: 65%;
          }
        }
      }
      .topic-nav {
        padding-top: 30px;
        .topic-list {
          &-item {
            display: inline-block;
            font-size: 1.5rem;
            color: #333;
            padding-right: 2em;
            font-weight: 600;
          }
        }
      }
      .news-block{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        position: relative;
        &:hover > .img-news{
          opacity: 1;
        }
        .number{
          background-color: #333;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
        }
        .line{
          height: 50px;
          background-color: #333;
          width: 2px;
          transform: rotate(15deg);
          margin: 0 10px;
        }
        .new{
          &-title{
            font-size: 2.3rem;
            color: #333;
            position: relative;
            &::after{
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 2px;
              background-color: #333;
              transition: .5s;
            }
            &:hover{
              cursor: pointer;
            }
            &:hover::after{
              width: 100%;
            }
          }
        }
        .img-news{
          position: absolute;
          width: 300px;
          height: 200px;
          background-color: #aaa;
          right: 0;
          top: 0;
          opacity: 0;
          transition: 0.15s;
          user-select: none;
        }
      }
      .portfolios {
        display: grid;
        width: 100%;
        padding-top: 30px;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        @include responsive(888px) {
          grid-template-columns: 1fr;
        }
        .card {
          font-size: 1.6rem;
          position: relative;
          overflow-y: hidden;
          height: 700px;
          &:hover > .card-caption {
            top: 75%;
          }
          &-img {
            width: 100%;
            height: 100%;
          }
          &-caption {
            position: absolute;
            width: 90%;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            padding: 1em 1em;
            background-color: #fff;
            transition: 0.15s;
          }
        }
      }
    }
  }

  .footer-app {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    z-index: 1;
    @include responsive(888px) {
      display: none;
    }
    .footer__container {
      margin: 0 auto;
      width: 90%;
      display: flex;
      justify-content: space-between;
      .footer-copywrite {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
      }
      .footer__nav {
        &__list {
          display: flex;
          align-items: center;
          &-item {
            display: inline-block;
            .nav-footer__link {
              display: flex;
              align-items: center;
              padding: 0em 0.5em;
              &-img {
                width: 15px;
              }
            }
          }
        }
      }
    }
  }
  .responsive-nav.active {
    transform: translateX(0%);
  }
  .responsive-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    align-items:flex-end;
    transform: translateX(100%);
    display: none;
    transition: 0.15s;
    font-size: 1.5rem;
    background-color: white;
    padding-right: 20px;
    padding-top: 150px;
    @include responsive(888px) {
      display: flex;
    }
    .image {
      width: 70px;
      height: 70px;

      background-color: pink;
      // animation: changeColor 2s ease-in-out alternate infinite;
      .author-img {
        width: 100%;
        height: 100%;
      }
    }
    .app-sidenav {
      margin-top: 30px;
      &-list {
        &-item {
          display: block;
          text-align: right;
          margin-top: 1em;
          .app-sidenav__link {
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
          }
        }
      }
    }
    .sidenav-footer{
      margin-top: 30px;
      &__copywriter{

      }
      &__nav{
        &__list{
          list-style: none;
          display: flex;
          justify-content: flex-end;
          .sidenav-footer__nav__item{
            width: 15px;
            margin-left: 7px;
            &-link{
              &-img{
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
