* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

:root {
  --height-nav: 50px;
  --height-footer: 50px;
}

html{
  color: white;
  font-weight: 1000;
  background-color: lightblue;
  animation: changeColor 10s infinite linear;
}

.button {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 1.5em 0em;
  border: none;
  color: white;
  font-size: 1.4rem;
  background-color: pink;
  animation: changeColor 1s infinite linear;
}

@mixin responsive($canvas) {
  @media (max-width: $canvas) {
    @content
  }
}

@mixin responsive($canvas) {
  @media (max-width: $canvas) {
    @content
  }
}

@import "./style/component.scss";
@import "./style/animation.scss";
