@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@mixin responsive($canvas) {
  @media (max-width: $canvas) {
    @content
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --height-nav: 50px;
  --height-footer: 50px;
}

html{
  color: white;
  font-weight: 1000;
  background-color: lightblue;
  animation: changeColor 10s infinite linear;
}

.button {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 1.5em 0em;
  border: none;
  color: black;
  font-weight: 1000;
  font-size: 1.4rem;
  background-color: pink;
  animation: changeColor 1s infinite linear;
  @include responsive(888px) {
    font-size: 1.2rem;
    width: 200px
  }
}

@import "./style/component.scss";
@import "./style/animation.scss";
