@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@mixin responsive($canvas) {
  @media (max-width: $canvas) {
    @content
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --height-nav: 60px;
  --height-footer: 50px;
}

html{
  color: black;
  font-weight: 500;
  font-size: 62.5%;
  // animation: changeColor 10s infinite linear;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 2.6rem 3rem;
  background-color: #333;
  transition: 0.15s;
  border: 2px solid #333;
  &:hover{
    background-color: #fff;
    color: #333;
  }
  // animation: changeColor 1s infinite linear;
  @include responsive(888px) {
    font-size: 1.6rem;
  }
}

@import "./style/component.scss";
@import "./style/animation.scss";
